<div class="container main-container py-4">
  <a routerLink="/" class="main-header-link">
    <div class="main-header">Bridge Relay</div>
  </a>

  <div class="intro-text">
    <p>
      TRADE OLD HARDWARE, ANALOG TOOLS, AND UNUSUAL MACHINES CONNECTED TO THE RELAY NETWORK.
    </p>
  </div>

  <div class="row g-4 justify-content-center">
    @for (item of deviceItems; track item.id) {
      <div class="col-12 col-md-10 col-lg-8">
        <div class="page-card">
          <img class="img-fluid" [src]="item.image" [alt]="item.alt">
          <p>{{ item.description }}</p>
        </div>
      </div>
    }
  </div>
</div>